<!DOCTYPE html>
<html lang="en" ng-app="naijaApp">
<head>
    <meta charset="utf-8">
    <title>Nigerian App List - Providing an open database of mobile apps built for Nigerians</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">
    <meta name="description" content="NigerianAppList.com provides an open database of all mobile applications built by Nigerians or for Nigerians. ">
    <meta name="author" content="NigerianAppList">

    <meta property="og:image" content="http://nigerianapplist.com/img/logo.png" />
    <meta property="og:title" content="Nigerian App List - Providing an open database of mobile apps built for Nigerians" />
    <meta property="og:description" content="NigerianAppList.com provides an open database of all mobile applications built by Nigerians or for Nigerians." />
    <meta property="og:type" content="website" />
    <meta property="og:url" content="http://nigerianapplist.com/" />

    <meta name="twitter:card" content="An open database of mobile apps built for Nigerians #nigerianapplist"/>
    <meta name="twitter:url" content="http://nigerianapplist.com/"/>
    <meta name="twitter:title" content="Nigerian App List - Providing an open database of mobile apps built for Nigerians"/>
    <meta name="twitter:description" content="NigerianAppList.com provides an open database of all mobile applications built by Nigerians or for Nigerians."/>
    <meta name="twitter:image" content="http://nigerianapplist.com/img/logo.png"/>

    <link href="http://fonts.googleapis.com/css?family=Ubuntu&amp;subset=latin" rel="stylesheet" type="text/css">
    <link href='http://fonts.googleapis.com/css?family=Gentium+Book+Basic' rel='stylesheet' type='text/css'>

    <link rel="stylesheet" type="text/css" href="./css/style.css?2908" media="all">

    <!--[if lt IE 9]> <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script> <![endif]-->

    <link rel="shortcut icon" href="./img/ico/favicon.ico">
    <link rel="apple-touch-icon" sizes="144x144" href="./img/ico/apple-touch-icon-144x144.png">
    <link rel="apple-touch-icon" sizes="114x114" href="./img/ico/apple-touch-icon-114x114.png">
    <link rel="apple-touch-icon" sizes="72x72" href="./img/ico/apple-touch-icon-72x72.png">
    <link rel="apple-touch-icon" href="./assets/ico/apple-touch-icon-57x57.png">
    <!-- AngularJs Script and app script -->
    
    <script src="js/angular.min.js"></script>
    <script src="js/app.js"></script>
    <script src="js/Chart.min.js"></script>
    <script src="js/ui-bootstrap-tpls-0.10.0.js" type="text/javascript"/>
    
</head>

<body>

    <a href="https://github.com/tbenjis/Nigerian-App-List" class="github" target="_blank"><img src="https://s3.amazonaws.com/github/ribbons/forkme_left_green_007200.png" alt="Fork me on GitHub"></a>

    <!-- ==========================
    NAVBAR
    =========================== -->
    <div class="navbar navbar-fixed-top pbhead">
        <img src="./img/logo.png" alt="Nigerian App List" width="300" height="50">
        <h1>An open database of mobile apps for Nigerians</h1>
        <h1><a href="https://github.com/tbenjis/Nigerian-App-List" target="_blank">Contribute to the project on GitHub</a></h1>
        <ul>
            <li>
                <a href="https://twitter.com/share" class="twitter-share-button" data-text="An open database of mobile apps built for Nigerians #nigerianapplist ->" ></a>
                <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="//platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
            </li>
        </ul>
    </div>

    <!-- CONTROLLER DIV -->
    <div ng-controller="AppListController">
        <div class="container">
            <!-- ==========================
            SEARCH
            =========================== -->
            <div class="row">            
                <div class="searchpane">
                    <input type="text" class="span10" placeholder="Search for an app, category or publisher" ng-model="searchText"/>
                </div>
            </div>

            <!-- Graph -->
            <div class="span3">
                <div id="canvas-holder">
                    <h2 title="Stats" class="stats">Statistics</h2>
                    <canvas id="chart-area" width="250" height="250"/>
                </div>
            </div>  
            <!-- ==========================
            APPS
            =========================== -->
            <div class="row" id="appswrap">
                <div class="span4 appsection" ng-repeat="app in applist | filter:searchText | startFrom:(currentPage-1)*perPage | limitTo:perPage">
                    <div class="view"></div>
                    <div title="{{ app.appName }}" id="cover" style="background:black url('{{app.appLogo}}') no-repeat center;-webkit-background-size:cover;-moz-background-size:cover;background-size:cover;">
                    </div>
                    <h2 title="{{ app.appName }}">{{app.appName}}</h2>

                  <h3><a href="{{app.publisherUrl}}" target="_blank">{{app.appPublisher}}</a></h3>
                  <p class="level">{{app.appCategory}}</p>
                  <p class="description">{{app.appDescription}}
                    <!-- Get the app links -->
                    <span class="dwnspan" >
                        <span ng-repeat="links in app.appLink">
                             <a href="{{links.url}}" class="applink" target="_blank" alt="{{links.type}}">{{links.type}}</a>
                        </span>
                    </span>
                  </p>
                </div>          
            </div>
            <!-- APPS -->
            
            <!-- Pagination Links -->
            <div class="paginate">
                <pagination page="currentPage" max-size="maxSize" total-items="total" items-per-page="perPage"></pagination> 
            </div>
        </div>

    </div>

    <!-- ==========================
    FOOTER
    =========================== -->
    <div class="footer">
        <hr>
        <p>Providing an open database of mobile applications built by Nigerians and for Nigerians</p>
        <a href="mailto:info@nigerianapplist.com" target="_blank" alt="NigerianAppList" id="footerlink">Get in touch</a> <br>
    </div>
 
     <!-- Analytics -->
     <script>
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

      ga('create', 'UA-60913192-1', 'auto');
      ga('send', 'pageview');
    </script>
  </body>
</html>
